*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

#root, #__next {
	isolation: isolate;
}


:root {

/*Primary*/
	--clr-hover-gradient-blue-rose: linear-gradient(hsl(237, 100%, 64%), hsl(322, 87%, 55%));
	--clr-hover-gradient-rose-tomato: linear-gradient(#FF6F48, #F02AA6);

	--clr-gradient-neonBlue-rose: linear-gradient(#4851FF, #F02AA6);
	--clr-gradient-rose-tomato: linear-gradient(#FF6F48, #F02AA6);
	--clr-carnation-pink: hsl(341, 100%, 83%);
	--clr-violet-red: hsl(341, 92%, 62%);

/*Neutral*/
	--clr-gradient-ghostWhite-white: linear-gradient(white, #F1F3FF);
	--clr-scampi: hsl(234, 25%, 52%);
	--clr-darkgray: hsl(232, 10%, 56%);
	--clr-dark-blue: hsl(233, 54%, 16%);
	--clr-white: hsl(0, 0%, 100%);

/*Font*/
	--f-styles-body-medium-bold: 700 18px/28px 'Plus Jakarta Sans', sans-serif;
	--f-styles-body-medium: 500 18px/28px 'Plus Jakarta Sans', sans-serif;
	--f-styles-body-small: 700 16px/28px 'Plus Jakarta Sans', sans-serif;
	--f-styles-heading-xlarge: 800 56px/70px 'Plus Jakarta Sans', sans-serif;
	--f-styles-heading-large: 800 40px/51px 'Plus Jakarta Sans', sans-serif;
	--f-styles-heading-medium: 800 32px/40px 'Plus Jakarta Sans', sans-serif;
	--f-styles-heading-small: 800 24px/32px 'Plus Jakarta Sans', sans-serif;
	--f-styles-heading-xsmall: 800 18px 'Plus Jakarta Sans', sans-serif;
}

footer {
	background: var(--clr-dark-blue);
}


body {
	font-family: 'Plus Jakarta Sans', sans-serif;
	background: no-repeat;
	background: var(--clr-gradient-ghostWhite-white);
	background-attachment: fixed;
}

header, section {
	margin: 0 1rem;
}

.content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 1rem 0;
}


.header {
	display: inline-flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}

.header-btn {
	text-decoration: none;
	color: var(--clr-white);
	background-color: var(--clr-dark-blue);
	font: var(--f-styles-body-small);

	padding: 0.5rem 1rem;
	border-radius: 25px;
}

.header a:where(:hover,:focus) {
	background: var(--clr-scampi);
}

.logo-header {
	width: 5.563rem;
	height: 1.563rem;
	margin: auto 0;
}

.site-info-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}

.site-info-container h1 {
	font: var(--f-styles-heading-medium);
}

.site-info-container p {
	font: var(--f-styles-body-small);
	color: var(--clr-darkgray);
}
 

.site-btn {
	text-decoration: none;
	color: var(--clr-white);
	background: var(--clr-gradient-rose-tomato);
	padding: .9rem 2.5rem;
	border-radius: 40px;
	font: var(--f-styles-body-small);
}

.site-info-container a:where(:hover,:focus) {
	background: var(--clr-hover-gradient-rose-tomato);
	background-color: rgba(255, 255, 255, 0.5);
	background-blend-mode: lighten;
}

.stats-image {
/*	margin-top: 1.5rem;*/
	margin: auto;
	padding-top: 1.5rem;
}

.course-container {
	display: flex;
	flex-wrap: wrap;
	gap: 2.5rem;
	justify-content: center;

}

.course-banner {
	font: var(--f-styles-heading-small);

	background: var(--clr-gradient-rose-tomato);
	padding: 1.5rem 1.5rem;
	color: var(--clr-white);
	border-radius: 15px;

}

.course-container h2 {
	font: var(--f-styles-heading-xsmall);

}

.course-container p {
	font: var(--f-styles-body-small);
	color: var(--clr-darkgray);

}

.course-container a {
	text-decoration: none;
	color: var(--clr-violet-red);
	font: var(--f-styles-body-medium-bold);
}

.course-container a:where(:hover, :focus) {
	color: var(--clr-carnation-pink);
}

.card {
	display: grid;
	gap: 1em;
	position: relative;
	padding: 3rem 1.5rem 2rem 1.5rem;
	border-radius: 10px;
	background-color: var(--clr-white);
	width: 100%;
}

.card-image { 
	position: absolute;
	top: -1.5rem;
	left: 1.5rem;
}


.footer {
	display: inline-flex;
	justify-content: space-between;
	margin-top: 5rem;
	padding: 2rem 1rem;
}

.footer a {
	text-decoration: none;
	color: var(--clr-white);
	background: var(--clr-gradient-neonBlue-rose);
	padding: 0.5rem 1rem;
	border-radius: 25px;
	font: var(--f-styles-body-small);
}

.footer a:where(:hover, :focus) {
	background: var(--clr-hover-gradient-blue-rose);
	background-color: rgba(255, 255, 255, 0.5);
	background-blend-mode: lighten;
}

.logo-footer {
	width: 89px;
	height: 25px;
	margin: auto 0;
	margin-left: 1rem;
}

.footer-btn {
	margin-right: 1rem;
}



@media screen and (min-width: 762px) and (max-width: 1024px) {

	.content {
		position: relative;
		margin: 1.5rem 0;
		gap: 6.3em;
		overflow-y: visible;
		overflow-x: hidden;
	}

	.header, .site-info-container, .course-container {
		margin: 0 2.3rem;
	}

	.site-info-container {
		width: 26rem;
	}

	.site-info-container h1 {
		font: var(--f-styles-heading-large);
	}

	.stats-image {
		position: absolute;
		top: -8.8rem;
		right: -18.5rem;
	}

	.course-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 7rem;
		grid-gap: 3.5rem 0.8rem;
	}

	.course-banner {
		padding-top: 3rem;
	}

	.footer {
		margin: 0;
	}
	.logo-footer {
		margin-left: 2rem;
	}

	.footer-btn {
		margin-right: 2rem;
	}

}



@media screen and (min-width: 1025px) and (max-width: 1305px) {
	.content {
		position: relative;
		margin: 0;
		gap: 11em;
		overflow-y: visible;
		overflow-x: hidden;
	}

	.header {
		margin: 1.5rem 10.3rem 0 10.3rem;
		z-index: 1;
	}

	.header-btn, .footer-btn, .site-btn {
		font: var(--f-styles-body-medium-bold);
		padding: .85rem 2rem;
		border-radius: 50px;
	}


	.site-info-container, .course-container {
		margin: 0 3.3rem;
		gap: 2rem;
	}

	.site-info-container {
/*		width: 29rem;*/
		width: 40%;
	}

	.site-info-container h1 {
		font: var(--f-styles-heading-xlarge);
	}

	.site-info-container p {
		font: var(--f-styles-body-medium);
		width: 20rem;
	}

	.stats-image {
		position: absolute;
		top: -10.8rem;
		right: -21rem;
	}

	.course-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-top: 7rem;
		grid-gap: 3.5rem 2rem;

	}

	.course-banner {
		padding-top: 3.3rem;
		font-size: 1.75rem;
	}

	.course-container h2{
		font: var(--f-styles-heading-small);
	}

	.footer {
		margin: 0;
	}

	.logo-footer {
		margin-left: 3rem;
	}

	.footer-btn {
		margin-right: 3rem;
	}

}


@media screen and (min-width: 1306px) {
	.content {
		position: relative;
		margin: 0;
		gap: 11em;
		overflow-y: visible;
		overflow-x: hidden;
	}

	.header {
		margin: 1.5rem 10.3rem 0 10.3rem;
		z-index: 1;
	}

	.header-btn, .footer-btn, .site-btn {
		font: var(--f-styles-body-medium-bold);
		padding: .85rem 2rem;
		border-radius: 50px;
	}


	.site-info-container, .course-container {
		margin: 0 10.3rem;
		gap: 2rem;
	}

	.site-info-container {
		width: 30rem;
		width: 40%;
		max-width: 622px;
	}


	.site-info-container h1 {
		font: var(--f-styles-heading-xlarge);
	}

	.site-info-container p {
		font: var(--f-styles-body-medium);
		width: 27rem;
	}

	.stats-image {
		position: absolute;
		top: -10.8rem;
		right: -21rem;
	}

	.course-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-top: 7rem;
		grid-gap: 3.5rem 2rem;

	}

	.course-banner {
		padding-top: 3.3rem;
		font-size: 1.75rem;
	}

	.course-container h2{
		font: var(--f-styles-heading-small);
	}

	.footer {
		margin: 0;
	}

	.logo-footer {
		margin-left: 10.3rem;
	}

	.footer-btn {
		margin-right: 10.3rem;
	}

}






